{{#> layouts/_base}}

{{#*inline "title"}}
  {{#if title}}
    {{title}}
  {{else}}
    Archives
  {{/if}}
{{/inline}}

{{#*inline "styles"}}
{{/inline}}

{{#*inline "body"}}
<div class="container py-5">
  <h1>Archives</h1>

  <h2 class="article-list-archive__year mt-4">
    {{year}}{{#if month}}, {{month}}{{/if}}
  </h2>

  {{> includes/_archive_list posts=posts }}

  {{#if month}}
  <a href="/archives/{{year}}">Go back to Archive {{year}}</a>
  {{else}}
  {{#if year}}
  <a href="/archives">Go back to Archive</a>
  {{/if}}

  {{/if}}
</div>
{{/inline}}

{{#*inline "scripts"}}
{{/inline}}

{{/layouts/_base}}
