{{#> layouts/_base}}

{{#*inline "title"}}
  {{#if title}}
    {{title}}
  {{else}}
    Archives
  {{/if}}
{{/inline}}

{{#*inline "styles"}}
{{/inline}}

{{#*inline "body"}}
<div class="container py-5">
  <h1>Archives</h1>

  <ul class="article-list-archive list-unstyled mt-4 d-flex flex-column gap-4">
    {{#each archiveList as |archive|}}
      <li>
        <h2>{{archive.[0]}}</h2>
        <ul class="d-flex flex-column gap-2">
          {{#each archive.[1].posts as |post|}}
            <li class="article-list-archive__item d-flex gap-2 flex-column flex-md-row justify-content-between flex-nowrap">
              <a href="/blogs/{{post.slug}}" class="article-list-archive__item__link">{{post.title}}</a>
              <p class="article-list-archive__item__date text-secondary mb-0">{{date "long" post.createdAt}}</p>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
{{/inline}}

{{#*inline "scripts"}}
{{/inline}}

{{/layouts/_base}}
