{{#> layouts/_base}}

{{#*inline "title"}}
{{#if title}}
{{ title }}
{{else}}
Login
{{/if}}
{{/inline}}

{{#*inline "styles"}}
{{/inline}}

{{#*inline "body"}}
<div class="container py-3">
  <div class="form-login w-100 m-auto">
    <div class="d-flex flex-column align-items-center">
      <img
        class="mb-4"
        src="https://getbootstrap.com//docs/5.3/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h1 mb-4 fw-normal">Please sign in</h1>
    </div>

    {{#if error }}
    <div class="alert alert-danger alert-dismissible" role="alert">
      {{error}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {{/if}}

    <form
      id="loginForm"
      class="needs-validation"
      novalidate
      action="/login"
      method="POST"

    >
      <input type="hidden" name="csrfToken" value="{{csrfToken}}" />

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          autocomplete="email"
        />
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating position-relative">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          autocomplete="current-password"
        >
        <label for="floatingPassword">Password</label>
        <div class="form-password position-absolute top-0 end-0 mt-2">
          <button
            class="btn text-decoration-none"
            type="button"
            data-target="floatingPassword"
            aria-pressed="false"
          >
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center my-3">
        <div class="form-check text-start">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            name="rememberMe"
            value="true"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>

        <a href="#" class="text-decoration-none">Forgot password?</a>
      </div>

      <button class="btn btn-primary w-100 py-2 mb-4" type="submit">
        Sign in
      </button>
      <a href="/register" class="btn btn-outline-secondary dark w-100 py-2"
        >Don&apos;t have account?</a
      >

      <p class="mt-5 mb-3 text-body-secondary">
        By signing in to our application, you agree to our
        <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
      </p>
    </form>
  </div>
</div>
{{/inline}}

{{#*inline "scripts"}}
<script src="{{manifest "form.js"}}" ></script>
{{/inline}}

{{/layouts/_base}}
