<article class="article-list-blog-item">
  <div class="article-list-blog-item__container">
    <a href="/blogs/{{ post.slug }}" class="article-list-blog-item__link">
      <img
        src="{{ post.thumbnail }}"
        alt="{{ post.title }} thumbnail"
        class="article-list-blog-item__image"
      />
    </a>

    <div class="article-list-blog-item__content">
      <div class="d-flex gap-2 mb-3 align-items-center mt-2 mt-0">
        <time
          class="article-list-blog-item__date"
          datetime="{{isoDatetime post.createdAt}}"
        >
          <i class="bi bi-calendar"></i>
          <span>{{date "long" post.createdAt}}</span>
        </time>

        <span class="article-list-blog-item__category">
          <i class="bi bi-tag-fill"></i>
          <a href="/blogs?category={{ post.category }}">{{capitalize
              post.category
          }}</a>
        </span>
      </div>

      <a href="/blogs/{{ post.slug }}" class="article-list-blog-item__title">
        <h2>{{ post.title }}</h2>
      </a>

      <p class="article-list-blog-item__excerpt">
        {{ post.content }}
      </p>

      <div class="article-list-blog-item__credit">
        <div class="article-list-blog-item__avatar">
          <img
            src="{{ post.author.profile.avatar }}"
            alt="{{fullname
              post.author.profile.firstName
              post.author.profile.lastName
            }}"
          />
        </div>

        <div class="article-list-blog-item__author">
          <span>By</span>
          <a href="/users/{{ post.author.userId }}">
            {{fullname
              post.author.profile.firstName
              post.author.profile.lastName
            }}
          </a>
        </div>
      </div>

      <div class="article-list-blog-item__metadata">
        <div class="article-list-blog-item__views">
          <i class="bi bi-eye"></i>
          <span>{{ post.views }}</span>
        </div>

        <div class="article-list-blog-item__likes">
          <i class="bi bi-heart"></i>
          <span>{{ post.likes }}</span>
        </div>

        <div class="article-list-blog-item__comments">
          <i class="bi bi-chat"></i>
          <span>{{len post.comments}}</span>
        </div>

        <div class="article-list-blog-item__time-to-read">
          <i class="bi bi-clock"></i>
          <span>{{ post.timeToRead }} min read</span>
        </div>
      </div>
    </div>
  </div>
</article>
