<div class="comment-item">
  <div class="comment-item__avatar">
    <a>
      <img src="{{comment.author.profile.avatar}}" alt="{{fullname comment.author.profile.firstName comment.author.profile.lastName}}">
    </a>
  </div>

  <div class="comment-item__content">
    <div class="commment-item__content__container">
      <div class="comment-item__content__header">
        <span class="comment-item__content__info__author">{{fullname comment.author.profile.firstName comment.author.profile.lastName}}</span>
        <span class="comment-item__content__info__date">{{date "long" comment.createdAt}}</span>
      </div>

      <div class="comment-item__content__body">
        <p>{{{comment.content}}}</p>
      </div>
    </div>
  </div>
</div>
