<div class="hero-article">
  <div class="hero-article__image">
    <img src={{post.thumbnail}} alt="{{post.title}} thumbnail"></img>
    <div></div>
  </div>
  <div class="hero-article__container">
    <h1 class="hero-article__title">{{post.title}}</h1>
    <p class="hero-article__excerpt lead mb-0">
      {{post.content}}
    </p>
    <p class="hero-article__link lead mb-0">
      <a
        href="/blogs/{{post.slug}}"
        class="text-body-emphasis fw-bold"
      >Continue ...</a>
    </p>
  </div>
</div>
