<div
  class="hero-sub-article row g-0 border rounded overflow-hidden flex-column-reverse flex-lg-row flex-nowrap mb-4 shadow-sm position-relative"
>
  <div class="hero-sub-article__container col-lg p-4 d-flex flex-column position-static">
    <strong
      class="hero-sub-article__category d-inline-block mb-2 text-primary-emphasis text-capitalize"
    >{{post.category}}</strong>
    <h3 class="hero-sub-article__title mb-0">{{post.title}}</h3>
    <div class="hero-sub-article__date mb-1 text-body-secondary">{{date "medium" post.createdAt}}</div>
    <p class="hero-sub-article__content card-text mt-auto">
      {{post.content}}
    </p>
    <a href="/blogs/{{post.slug}}" class="hero-sub-article__link icon-link gap-1 icon-link-hover stretched-link">
      Continue reading
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="hero-sub-article__thumbnail col-lg-auto">
    <img
      src="{{post.thumbnail}}"
      alt="{{post.title}}  thumbnail"
      class="bd-placeholder-img"
      ></img>
  </div>
</div>
