<div
  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <strong
      class="d-inline-block mb-2 text-primary-emphasis text-capitalize"
    >{{post.category}}</strong>
    <h3 class="mb-0">{{post.title}}</h3>
    <div class="mb-1 text-body-secondary">{{date "medium" post.createdAt}}</div>
    <p class="card-text mb-auto">
      {{post.content}}
    </p>
    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
      Continue reading
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <img
      src="{{post.thumbnail}}"
      alt="{{post.title}}  thumbnail"
      class="bd-placeholder-img"
      width="200"
      height="250"></img>
  </div>
</div>
