<div
  class="d-flex justify-content-md-between align-items-md-center mb-5 lg:exts-mb-6 flex-column flex-md-row gap-3"
>
  <h3 class="h3 mb-0">My comments</h3>
  <button
    class="btn btn-primary btn-sm d-flex align-items-center gap-2 d-lg-none flex-shrink-0 ms-md-2 bg-info flex-wrap"
    style="width: fit-content"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasSidebar"
    aria-controls="offcanvasSidebar"
  >
    <i class="bi bi-box-arrow-right d-none d-sm-block"></i>
    <span>Show Sidebar</span>
  </button>
</div>

<div class="card bg-body-tertiary p-3">
  <div class="card-header bg-transparent border-bottom p-0 pb-3">
    <h6 class="mb-0">Latest activities</h6>
  </div>

  <div class="card-body px-0 pb-0">
    <ul class="user__comments list-group">
      {{#each comments as |comment|}}
      <li class="user__comment list-group-item d-flex gap-2 flex-column">
        <div class="d-flex align-items-center gap-2">
          <div class="user__comment__icon">
            <i class="bi bi-chat"></i>
          </div>

          <div
            class="user__comment__header d-flex align-items-center justify-content-between gap-2"
          >
            <div class="text-truncate d-flex">
              <span class="d-none d-sm-block"> You commented on&nbsp; </span>
              <a
                href="/blogs/{{ comment.post.slug }}#comment-{{
                  comment.commentId
                }}"
              >
                {{ comment.post.slug }}
              </a>
            </div>
            <div class="ms-auto">
              <span class="text-muted">{{date
                    "short"
                    comment.createdAt
              }}</span>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center gap-2">
          <p class="user__comment__content small text-muted mb-0">
            {{ comment.content }}
          </p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
