{{#> layouts/_base}}

{{#*inline "title"}}
  {{#if title}}
    {{title}}
  {{else}}
    Users
  {{/if}}
{{/inline}}

{{#*inline "styles"}}
{{/inline}}

{{#*inline "body"}}
<section class="pt-5">
  <div class="container">
    <div class="row">
      <div data-component="user-sidebar" class="user__sidebar col-lg-4 col-xl-3">
        <div class="offcanvas-lg offcanvas-start h-100" tabindex="-1" id="offcanvasSidebar">
          <div class="offcanvas-header">
            <h3 id="offcanvasNavbarLabel">Users</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body px-3 px-lg-0">
            <div class="card border rounded-2 p-3 bg-body-tertiary w-100">
              <div class="card-header d-flex flex-column gap-3 align-items-center bg-transparent px-0 border-bottom-0">
                <div class="user__avatar position-relative my-2">
                  <img
                    class="rounded-circle border border-2 border-secondary"
                    src="{{user.profile.avatar}}"
                    alt="{{fullname user.profile.firstName user.profile.lastName}}"
                  />
                </div>

                <h6 class="mb-0">{{fullname user.profile.firstName user.profile.lastName}}</h6>

                <a href="#" class="text-reset text-primary-hover small mt-n3">{{user.email}}</a>
              </div>

              <hr class="my-1">

              <div class="card-body py-2 px-0">
                <ul id="user-nav-sidebar" class="nav nav-pills flex-column gap-2">
                  {{> includes/_user_nav_items user=user page=page  }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="user-content" data-component="user-content" class="col-lg-8 col-xl-9">
        {{#> user_content }}
        {{/user_content}}
    </div>
  </div>
</section>
{{/inline}}

{{#*inline "scripts"}}
{{/inline}}

{{/layouts/_base}}

