<div
  class="user-post d-flex justify-content-md-between align-items-md-center mb-5 lg:exts-mb-6 flex-column flex-md-row gap-3"
>
  {{#if sessionUser}}
  <h3 class="h3 mb-0">My posts</h3>
  {{else}}
  <h3 class="h3 mb-0">{{fullname fetchUser.profile.firstName fetchUser.profile.lastName}}&apos;s posts</h3>
  {{/if}}
  <button
    class="user-post__offcanvas-btn btn btn-primary btn-sm d-flex align-items-center gap-2 d-lg-none flex-shrink-0 ms-md-2 bg-info flex-wrap"
    style="width: fit-content"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasSidebar"
    aria-controls="offcanvasSidebar"
  >
    <i class="bi bi-box-arrow-right d-none d-sm-block"></i>
    <span>Show Sidebar</span>
  </button>
</div>

<div class="user-post__container card bg-body-tertiary p-3">
  <div class="user-post__header card-header bg-transparent border-bottom p-0 pb-3">
    <h6 class="mb-0">Published posts</h6>
  </div>

  <div class="card-body px-0 pb-0">
    <ul class="user-post__list list-unstyled">
      {{#each posts as |post|}}
      <li class="user-post__item row mb-3">
        <div class="user-post__thumbnail d-none d-md-block col-md-4">
          <img
            src="{{ post.thumbnail }}"
            alt="{{ post.title }} thumbnail"
            class="w-100 rounded-2"
            style="height: 160px"
          />
        </div>

        <div class="user-post__content col-12 col-md-8 d-flex flex-column">
          <a
            href="/blogs/{{ post.slug }}"
            class="user-post__link d-flex gap-3 text-decoration-none"
          >
            <h4 class="text-truncate">{{ post.title }}</h4>
          </a>

          <div class="user-post__description small text-muted">{{{ post.content }}}</div>

          <div
            class="user-post__metadata d-flex align-items-md-center flex-column flex-md-row gap-2 mt-auto"
          >
            <div class="user-post__info d-flex align-items-center gap-2 order-1 flex-wrap">
              <div class="user-post__category">
                <span class="badge bg-primary rounded-pill bg-indigo">{{~ post.category ~}}</span>
              </div>

              <span class="text-muted">|</span>

              <div class="d-flex align-content-center">
                <div class="d-flex gap-2 align-items-center flex-wrap">
                  <div
                    class="user-post__tag d-flex gap-1 align-items-center rounded-2 bg-body-secondary px-2 py-1"
                  >
                    <i class="bi bi-eye"></i>
                    <span>{{ post.views }}</span>
                  </div>

                  <div
                    class="user-post__tag d-flex gap-1 align-items-center rounded-2 bg-body-secondary px-2 py-1"
                  >
                    <i class="bi bi-heart"></i>
                    <span>{{ len post.likes }}</span>
                  </div>

                  <div
                    class="user-post__tag d-flex gap-1 align-items-center rounded-2 bg-body-secondary px-2 py-1"
                  >
                    <i class="bi bi-chat"></i>
                    <span>{{len post.comments}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="user-post__date ms-lg-auto order-0 order-md-1">
              <span class="text-muted small"
                >Written at {{date "short" post.createdAt}}</span
              >
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
