<ul id="user-nav-sidebar" class="nav nav-pills flex-column gap-2" hx-swap-oob="true">
  <li class="nav-item" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar">
    <a
      hx-get="/users/{{fetchUser.userId}}/profile"
      hx-trigger="click"
      hx-target="#user-content"
      hx-swap="innerHTML"
      hx-push-url="/users/{{fetchUser.userId}}/profile"
      class="nav-link {{#if (eq page "/profile")}}active{{/if}}"
      {{#if (eq page "/profile")}}aria-current="page"{{/if}}
    >
      <i class="bi bi-person"></i>
      Profile
    </a>
  </li>

  <li class="nav-item" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar">
    <a
      hx-get="/users/{{fetchUser.userId}}/devices"
      hx-push-url="/users/{{fetchUser.userId}}/devices"
      hx-trigger="click"
      hx-target="#user-content"
      hx-swap="innerHTML"
      class="nav-link {{#if (eq page "/devices")}}active{{/if}}"
      {{#if (eq page "/devices")}}aria-current="page"{{/if}}
    >
      <i class="bi bi-phone"></i>
      Devices
    </a>
  </li>

  <li class="nav-item" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar">
    <a
      hx-get="/users/{{fetchUser.userId}}/notifications"
      hx-push-url="/users/{{fetchUser.userId}}/notifications"
      hx-trigger="click"
      hx-target="#user-content"
      hx-swap="innerHTML"
      class="nav-link {{#if (eq page "/notifications")}}active{{/if}}"
      {{#if (eq page "/notifications")}}aria-current="page"{{/if}}
    >
      <i class="bi bi-bell"></i>
      Notifications
    </a>
  </li>

  <li class="nav-item" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar">
    <a
      hx-get="/users/{{fetchUser.userId}}/posts"
      hx-push-url="/users/{{fetchUser.userId}}/posts"
      hx-trigger="click"
      hx-target="#user-content"
      hx-swap="innerHTML"
      class="nav-link {{#if (eq page "/posts")}}active{{/if}}"
      {{#if (eq page "/posts")}}aria-current="page"{{/if}}
    >
      <i class="bi bi-file-earmark-text"></i>
      Posts
    </a>
  </li>

  <li class="nav-item" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar">
    <a
      hx-get="/users/{{fetchUser.userId}}/comments"
      hx-push-url="/users/{{fetchUser.userId}}/comments"
      hx-trigger="click"
      hx-target="#user-content"
      hx-swap="innerHTML"
      class="nav-link {{#if (eq page "/comments")}}active{{/if}}"
      {{#if (eq page "/comments")}}aria-current="page"{{/if}}
    >
      <i class="bi bi-chat"></i>
      Comments
    </a>
  </li>

  <li class="nav-item" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar">
    <a href="/users/{{fetchUser.userId}}/delete_account" class="nav-link">
      <i class="bi bi-trash"></i>
      Delete Account
    </a>
  </li>
</ul>
