<div class="card" data-user="{{ fetchUser.userId }}" style="width: 360px">
  <div class="card-header text-nowrap d-flex">
    {{ fetchUser.profile.job }}
  </div>

  <div class="card-body">
    <div
      class="rounded-circle object-fit-cover"
      style="width: 40px; height: 40px"
    >
      <img
        class="rounded-circle object-fit-cover w-100 h-100"
        src="{{ fetchUser.profile.avatar }}"
        alt="{{fullname fetchUser.profile.firstName fetchUser.profile.lastName}}"
      />
    </div>
    <div class="card-text mt-2">
      <p class="mb-0">
        <a
          class="text-reset text-decoration-none"
          href="/users/{{ fetchUser.userId }}"
          ><strong>{{ fetchUser.username }}</strong></a
        >
        <span class="text-muted">{{fullname
            fetchUser.profile.firstName
            fetchUser.profile.lastName
        }}</span>
      </p>

      <p class="mb-0">
        <i class="bi bi-at"></i>
        <span>{{ fetchUser.email }}</span>
      </p>

      <p class="mb-0">
        <i class="bi bi-phone"></i>
        <span>{{ fetchUser.profile.phone }}</span>
      </p>

      <p>
        <i class="bi bi-geo-alt"></i>
        <span>{{ fetchUser.profile.address }}</span>
      </p>

      <p class="mb-0 line-clamp-3 text-muted small">
        {{ fetchUser.profile.bio }}
      </p>
    </div>
  </div>
</div>
